---
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import H1 from "../../components/H1.astro";
import Layout from "../../layouts/Base.astro";
import Section from "../../components/Section.astro";
import Card from "../../components/Card.astro";
import CardListItem from "../../components/CardListItem.astro";
import CardListWrapper from "../../components/CardListWrapper.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<Layout title={`${SITE_TITLE} | Blog`} description={SITE_DESCRIPTION}>
  <Section>
    <H1>Blog</H1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem,
      veritatis vitae. Delectus, autem facere distinctio possimus tempora qui
      perspiciatis incidunt, laborum exercitationem porro quam, voluptatum
      earum. Atque ipsum vitae suscipit?
    </p>
  </Section>
  <Section>
    <CardListWrapper>
      {
        posts.map((post) => (
          <CardListItem>
            <Card
              href={`/blog/${post.id}/`}
              title={post.data.title}
              body={post.data.description}
              date={post.data.pubDate}
            />
          </CardListItem>
        ))
      }
    </CardListWrapper>
  </Section>
</Layout>
