---
import { SITE, SOCIALS } from "../consts";
const today = new Date();
const iconStyle = "text-2xl hover:text-indigo-300 duration-100 ease-in-out";
---

<footer class="text-stone-400 mt-8">
  <hr class="text-stone-700 border-1" />
  <div class="py-8 flex items-center flex-wrap justify-between">
    <div class="flex gap-4 my-4">
      {
        SITE.EMAIL && (
          <a class={iconStyle} href={`mailto:${SITE.EMAIL}`}>
            <span class="sr-only">Send email</span>
            <i class={`ph-fill ph-envelope`} />
          </a>
        )
      }
      {
        SOCIALS.map((social) => (
          <a class={iconStyle} href={social.HREF} target="_blank">
            <span class="sr-only">Go to {social.NAME}</span>
            <i class={`ph-fill ph-${social.NAME}-logo`} />
          </a>
        ))
      }
    </div>
    <p class="text-xs">
      &copy; {today.getFullYear()}
      {SITE.NAME}. All rights reserved.
    </p>
  </div>
</footer>
<style></style>
