---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import Layout from "../layouts/Base.astro";
import H1 from "../components/H1.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<Layout title={title} description={description}>
  <article class="my-16">
    <div class="title space-y-4">
      <H1>{title}</H1>

      <p class="text-stone-400 italic text-md">{description}</p>

      <div class="date my-4">
        <FormattedDate
          date={pubDate}
          className="text-stone-400 text-sm font-light"
        />
        {
          updatedDate && (
            <div class="last-updated-on">
              Last updated on <FormattedDate date={updatedDate} />
            </div>
          )
        }
      </div>
      <hr class="text-stone-700" />
    </div>

    <div
      class="prose prose-stone prose-invert prose-h1:text-indigo-300 prose-headings:text-stone-300 prose-p:text-stone-300/80 prose-a:text-indigo-300 prose-a:hover:text-indigo-400">
      <div class="hero-image">
        {heroImage && <img width={1020} height={510} src={heroImage} alt="" />}
      </div>
      <slot />
    </div>
  </article>
</Layout>

<style></style>
